<div class="welcome-flyer center">
<span class="emoji">
🤷 🥕 👋
</span>
<h4>100% of Communication</h4>
That's right, one hundred percent of communications could benefit from a hummus emoji. Think about the change a hummus emoji could make in that work email you are about to send, or with utility bills coming in the mail. How about the text message from your ex at 2am? With an all-encompassing hummus emoji, every scenario could be improved and result in better communication. 
<br>
<span class="emoji">
😱 🛰 🙈
</span>
<h4>Did Someone Say Dark Ages?</h4>
<a href="https://trends.google.com/trends/explore?q=hummus%20emoji" target="_blank">Google Trends</a> will not even graph search trends for 'hummus emoji' -- there is so little data to return. Over three billion Google searches happen every day and yet almost none of those are for hummus emojis. As a hummus-loving species in 2018, are we supposed to accept that? 
<br>
<span class="emoji">
🎍 🌟 💍
</span>
<h4>Spread Hummus: Not Hate</h4>
You have the power to be the change you want to see in the emoji keybord. Take action and sign the petition for a hummus emoji. 
<br>
<span class="emoji">
🥦 🍴 💯
</span>
</div>
